alembic==1.13.3
apifairy==1.4.0
apispec==6.6.1
awscli-local==0.22.0
bcrypt==4.2.0
blinker==1.8.2
boto3==1.35.27
botocore==1.35.27
click==8.1.7
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.3
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
localstack-client==2.6
Mako==1.3.5
MarkupSafe==2.1.5
marshmallow==3.22.0
marshmallow-sqlalchemy==1.1.0
packaging==24.1
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
s3transfer==0.10.2
six==1.16.0
SQLAlchemy==2.0.35
typing_extensions==4.12.2
urllib3==2.2.3
webargs==8.6.0
Werkzeug==3.0.4
WTForms==3.1.2
